<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="/worldly/assets/css">
        <link rel="stylesheet" href="/worldly/assets/scss/layout.scss">
        <%-style%>
    </head>
    <body>
        <%-include('_header');%>
        <%-body%>
        <%- include('_footer');%>
        <script type="text/javascript" src="/worldly/assets/js/layout.js"></script>
    </body>
</html>