<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="/worldly/assets/layout.css">
        <%-style%>
    </head>
    <body>
        <%- include('_header');%>
        <%-body%>
        <%- include('_footer');%>
        <script type="text/javascript" src="/worldly/assets/layout.js"></script>
    </body>
</html>